body, html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-orient: row;
  height: 100%;
}

.Sidebar {
  width: 300px;
  background: #3c3c3c;
  color: white;
  height: 100%;
  overflow-y: scroll;
}

.Renderer {
  flex-grow: 1;
  height: 100%;
  background: black;
  color: white;
}