body, html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-orient: row;
  height: 100%;
}

.Sidebar {
  width: 300px;
  background: #3c3c3c;
  color: white;
  height: 100%;
  overflow-y: scroll;
}

.MainSection {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

.Editor {
  height: 50%;
  width: 100%;
  position: relative;
}
.Renderer {
  height: 50%;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.CodeMirror-scroll {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.CodeMirror-sizer {
  min-width: auto !important;
}